.about-agency {
  color: #303030;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.25em;
  font-family: Montserrat, sans-serif;
}
.about-caption {
  font-family: Playfair Display;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  font-style: italic;
  text-align: left;
  color: #ff681a;
  margin: 0 0 0 0;
  letter-spacing: -0.01em;
}
.about-p {
  margin: 20px 0;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #686767;
}
.img-section img {
  width: 650px;
  aspect-ratio: auto 800 / 502;
  height: 100%;
}
.explor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0;
}
.about-button {
  color: white;
  background-color: #ff681a;
  border-radius: 0;
  font-family: inherit;
  border: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0;
  transition: 0.5s;
  padding: 15px 50px;
  cursor: pointer;
}
.about-button:hover {
  background-color: black;
  color: white;
}
.text-section {
  margin-left: 50px;
}

@media only screen and (max-width: 600px) {
  .img-section img {
    width: 100%;
  }
  .img-section {
    padding: 0 10px;
  }
  .explor {
    margin: 70px 0;
    flex-direction: column;
  }
  .text-section {
    margin: 0;
    padding: 40px;
  }
}
