*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media (max-width: 60em) {
  .card-parent {
    padding: 3rem;
  }
}

.grid {
  display: grid;
  width: 114rem;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}

.card-parent {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  background: linear-gradient(
    45deg,
    rgba(66, 183, 245, 0.8) 0%,
    rgba(66, 245, 189, 0.4) 100%
  );
  padding: 100px 0;
}

@media (max-width: 60em) {
  .grid {
    grid-gap: 3rem;
  }
}
.grid__item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}
.grid__item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.card__img {
  display: block;
  width: 100%;
  height: 18rem;
  object-fit: cover;
}
.card__content {
  padding: 3rem 3rem;
}
.card__header {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}
.card__text {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}
.card__btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3363ff;
  background-color: #e6ecff;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
}
.card__btn span {
  margin-left: 1rem;
  transition: 0.2s;
}
.card__btn:hover,
.card__btn:active {
  background-color: #dce4ff;
}
.card__btn:hover span,
.card__btn:active span {
  margin-left: 1.5rem;
}

.our-adven {
  font-size: 37px;
  color: #303030;
  font-weight: 700;
  line-height: 1.25em;
  text-align: center;
  font-family: Montserrat, sans-serif;
}
.modern {
  color: #ff681a;
  margin: 0 0 5px;
  font-family: Playfair Display;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25em;
  text-align: center;
}
.card-p {
  display: block;
  margin: 19px 0 0;
  font-weight: 400;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #595959;
}
.card-text {
  padding: 0 14% 47px;
}

@media only screen and (max-width: 600px) {
  .grid {
    width: 100%;
    padding: 10px 20px;
  }
  .card-text {
    padding: 22px;
  }
}
