.main-order-parent {
  background-color: #eef0f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.order-parent {
  background-color: #fff;
  width: 900px;
  height: 500px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  line-height: 1.5;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
}
.order-parent::after {
  content: "";
  position: absolute;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  z-index: -1;
}
.container-close {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: #fff;
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
  font-size: 1.7rem;
  color: #2e4052;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
}
.order-parent img {
  width: 250px;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
.container-text {
  padding: 10px 40px 10px 10px;
}
.order-heading {
  color: #0c26bb;
}
.container-text p {
  font-size: 14px;
  color: #3b4169;
  margin: 10px 0;
}
.container-text input,
.container-text button {
  width: 100%;
  border: none;
  padding: 14px;
  border-radius: 3px;
}
.container-text input {
  border: 2px solid #daddec;
  margin: 5px 0 10px;
  font-size: 16px;
  outline: none;
  color: #656880;
}
.container-text button {
  background-image: linear-gradient(to right, #89caff, #6589ff);
  display: block;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 5px 20px #89caff94;
  transition: box-shadow 0.3s ease-in-out;
  font-size: 16px;
  margin-top: 3px;
}
.container-text button:hover {
  box-shadow: none;
}
.container-text span {
  display: block;
  text-align: center;
  margin: 20px 0 0;
  color: #babdcb;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .order-parent {
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    padding: 30px 10px 10px 10px;
  }
  .main-order-parent {
    height: 100%;
  }

  .container-text {
    padding: 30px 20px;
  }
  .container-text p {
    text-align: center;
  }
  .order-heading {
    text-align: center;
  }
  .main-order-parent {
    padding: 30px 15px;
  }
  .order-parent::after {
    width: 100%;
  }
}
